﻿@model IEnumerable<ThAmCo.Events.Data.StaffBookings>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Staff)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.Email)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { EventId = item.EventId, StaffId = item.StaffId })
            </td>
        </tr>
}
    </tbody>
</table>
