﻿@model ThAmCo.Events.Services.VenueSearchDto

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>VenueSearchDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <select asp-for="Code" class="form-control"></select>
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Start" class="control-label"></label>
                <input asp-for="Start" class="form-control" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="End" class="control-label"></label>
                <input asp-for="End" class="form-control" />
                <span asp-validation-for="End" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        $(document).ready(function () {

            $.ajax({

                url: "http://localhost:23652/api/eventtypes",
                method: "GET",
                crossDomain: true,
                success: function (result) {

                    var types = '';
                    for (var i = 0; i < result.length; i++) {
                        types = types+ '<option value ="' + result[i].id + '">' + result[i].title + '</options>';
                    } $('#Code').html(types);
                },
                error: function (result) {
                    alert("AJEX Error");
                }

            });

        });

    </script>
}
