﻿@model IEnumerable<ThAmCo.Events.Services.VenueGetDto>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.Code }) |
                @Html.ActionLink("Book", "CreateVenue", "Events", new { Code = item.Code, Date = item.Date.ToString("yyyy-MM-dd"), EventType = @ViewBag.Type}) 

            </td>
        </tr>
}
    </tbody>
</table>
