﻿@model IEnumerable<ThAmCo.Events.Data.StaffEventViewModel>


<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    @Html.ActionLink("Details", "Details", "Staff", new { id = item.StaffId })
                    <a asp-area="" asp-controller="StaffBookings" asp-route-eventId="@item.StaffId,item.EventID" asp-action="Create">Book Staff</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
