﻿@model ThAmCo.Events.Data.EventDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeId)
        </dd>
    </dl>
</div>
<div>
    <h4>Guests</h4>
    @if(Model.Guests.Any())
    {
        <partial name="_CustomerList" for="Guests"/>
    }
    else { <p>No Guests Booked </p>}
</div>
<div>
    <h4>Staff</h4>
    @if (Model.Staff.Any())
    {
        <partial name="_StaffList" for="Staff" />
    }
    else
    { <p>No Staff Booked </p>}
    @if (Model.Staff.Count() / Model.Guests.Count() < 1)
    {
        <p>Not Enough Staff</p>
    }
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
